---
import LanguageSelector from "./LanguageSelector.astro";

import { getI18N } from '../i18n/'

const {currentLocale} = Astro
const i18n = getI18N({currentLocale})
---

<header class="flex justify-center items-center py-5 w-full xl:w-[1120px] mx-auto">
    

    <nav class="flex flex-row gap-x-10 opacity-80">
        <a href="#top">{i18n.HEADER_HOME}</a>
        <a href="#proyectos">{i18n.HEADER_PROJECTS}</a>
        <a href="#sobre-mi">{i18n.HEADER_ABOUT} mí</a>
        <a href="#contacto">{i18n.HEADER_CONTACT}</a>
        <LanguageSelector />
    </nav>
</header>
